<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC38otYAejc--aGnwdduCU_NZnVabEtykc</string>
	<key>GCM_SENDER_ID</key>
	<string>179621360584</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vkrenzel.Twitter</string>
	<key>PROJECT_ID</key>
	<string>twitter-462db</string>
	<key>STORAGE_BUCKET</key>
	<string>twitter-462db.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:179621360584:ios:8471a057dca66d244306fd</string>
</dict>
</plist>